
bin/Debug/IPA.exe
bin/Debug/IPA.exe
bin/Debug/IPA.exe
bin/Debug/IPA.pdb
IPA.csproj
obj/Debug/IPA.exe
obj/Debug/IPA.pdb
bin/Debug/IPA.pdb
bin/Debug/IPA.exe
.idea/.idea.IPA/.idea/contentModel.xml
*.xml
*.xml
.idea/.idea.IPA/riderModule.iml
obj/Debug/IPA.csproj.CoreCompileInputs.cache
.idea/.idea.IPA/.idea/workspace.xml
obj/Debug/IPA.csproj.FileListAbsolute.txt
.idea/.idea.IPA/.idea/workspace.xml
obj/Debug/IPA.csprojAssemblyReference.cache
.idea/.idea.IPA/.idea/workspace.xml
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Properties/AssemblyInfo.cs
.idea/.idea.IPA/.idea/workspace.xml
